* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

p {
    font-size: 1.5rem;
}

a {
    color: black;
}

hr {
    border: none; 
    border-top: 2px solid black; 
    margin: 1.5rem 0px;
}

.container {
    display: flex;
}

#leftSide {
    background-color: rgb(152, 192, 227);
    flex: 1;
    height: 100vh;
    padding: 1.5rem;
    font-family: 'DM Mono', monospace;
    font-weight: 300;
}

#rightSide {
    flex: 1;
    height: 100vh;
}

#footer {
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 1.5rem;
    font-family: 'DM Mono', monospace;
}

/* MFB TO DO - consider adding background-blend-mode property to adjust color of footer to white or blue based on contrast*/

#footer p {
    padding: 0.5rem 1rem;
    width: fit-content;
    background-color: rgb(152, 192, 227);
    margin: 0.75rem;
}